# Secret Key
usuariosdj/usuarios/secret.json
agendadj/agenda/secret.json
#
tiendadj/tienda/applications/home/migrations/*
#
tiendadj/tienda/applications/users/migrations/*
tiendadj/tienda/secret.json
tiendadj/tienda/fbkey.json