<h1>Detalle de Libro</h1>
<p>{{ libro.titulo }}</p>
<p>{{ libro.categoria.nombre }}</p>
<p>{{ libro.fecha }}</p>
<p>{{ libro.visitas }}</p>


<p>===============================Many to Many =========================================</p>
<p>===============================Lista de Autores del libro  {{libro.titulo}}================================</p>
<ul>
    
    {% for autor in libro.autores.all  %}
        <li>{{autor}}</li>
 
    {% endfor %}
        
</ul>
<p>===============================Agregar autores =========================================</p>
<form  method="post">
    <input type="text" name="" id="" placeholder="Agregar Autor">
    <button type="submit">Guardar</button>
</form>