<!-- head para PC -->
{% extends "users/base_users.html" %}

{% load  static %}

{% block content %}
<div style="padding: 2em;">
    <h1>Ingrese con su cuenta de Google</h1>
    <div>
        <button style="padding: 1em; background: red; color: white;" onclick="loginGoogle()">
            Ingrese con Gmail
        </button>
        <button style="padding: 1em; background: red; color: white;" onclick="cerrarSesion()">
            Cerrar Sesion
        </button>
        <button  style="width: 1000px; height: 50px; background: yellow; color: black;" id="labelparaToken"></button>
    </div>
</div>

{% endblock content %}